<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Error del Servidor</title>

</head>

<body>
  <div class="container text-center border border-dark rounded p-4 mt-5 shadow bg-white w-75">
    <h1 class="mb-4">500 - Error interno del servidor</h1>
    <div class="d-flex align-items-center justify-content-center gap-4 p-3 border rounded shadow-sm bg-light">
      <div style="max-width: 45%; margin-right: 50px;">
        <p>Estamos buscando por todas partes, pero lo que buscas no aparece.</p>
        <img src="/img/SAMERROR.gif" class="img-fluid rounded" alt="imagen de error"
          style="max-height: 400px; object-fit: cover;">
        <p>Algo salió mal en el servidor. Intentalo de nuevo más tarde.</p>
      </div>      
    </div>
    <a href="/" class="mt-4 btn btn btn-outline-primary shadow">Volver al inicio</a>
  </div>
</body>

</html>