<!--En esta pagina debería venir el login para entrar a la web con un rol determinado -->
<div class="container text-center border border-1 border-dark rounded p-3 mt-5 shadow bg-white w-50">
  <h1>{{title}}</h1>

  <nav class="my-3">
    {{#each sections}}
      <a href="{{path}}" class="btn btn-outline-primary m-2 shadow">{{name}}</a>
    {{/each}}
  </nav>

  <section>
    <p>Bienvenido al panel de administración.</p>
  </section>
</div>
