<div class="container">
<h1 class="">{{title}}</h1>

<nav>
  <ul>
    {{#each sections}}
    <li><a href="{{path}}">{{name}}</a></li>
    {{/each}}
  </ul>
</nav>

<section>
  <p>Bienvenido al panel de administración.</p>
</section> 
</div>
<!--En esta pagina debería venir el login para entrar a la web con un rol determinado -->