<!--En esta pagina debería venir el login para entrar a la web con un rol determinado -->
<div class="container text-center border border-1 border-dark rounded p-3 mt-4 shadow p-3 mb-3 bg-white rounded w-50">
<h1 class="">{{title}}</h1>

<nav>
  <ul>
    {{#each sections}}
    <li><a href="{{path}}">{{name}}</a></li>
    {{/each}}
  </ul>
</nav>

<section>
  <p>Bienvenido al panel de administración.</p>
</section> 
</div>
